<div class="p-5 text-center">

    <div class="container">
        <div class="row">

            <div class="col-sm">
                 <%= image_tag "Test.png", height: 350 %>
            </div>

            
            <div class="col-sm my-auto text-left">
                
                <h1 class="mb-3">Fake Company</h1>
                <p class="mb-3 mt-3">This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.</p>
                <a class="btn btn-primary mb-3" href="" role="button">Contact Here</a>
                <a class="btn btn-outline-primary mb-3" href="" role="button">Contact Here</a>
                    
            </div>

        </div>
    </div>
</div>

<div class="p-5 text-center bg-light my-auto">

    <div class="container">
        <div class="row">

            <div class="col-sm d-flex justify-content-center mb-2 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>

            <div class="col-sm d-flex justify-content-center mb-2 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>

            <div class="col-sm d-flex justify-content-center mb-2 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="p-5 text-center">

    <div class="container">
        <div class="row">

            <div class="col-sm my-auto text-left">
                <h1 class="mb-3">Fake Company</h1>
                <p class="mb-3 mt-3">This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.</p>
                <a class="btn btn-primary mb-3" href="" role="button">Contact Here</a>
            </div>

            <div class="col-sm">
                 <%= image_tag "Test.png", height: 300 %>
            </div>

        </div>
    </div>
</div>

<div class="p-5 text-left bg-light">

    <div class="container">
        <div class="row">

            <div class="card mb-3">
                <div class="row g-0">

                    <div class="col-md-4 my-auto">
                    <%= image_tag "Test.png" , :class => "img-fluid rounded-start"%>
                    </div>

                    <div class="col-md-8 my-auto">
                        <div class="card-body">
                            <h3 class="card-title">Weekly Fake Emails</h3>
                            <p class="card-text">This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.</p>
                            <div class="field form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">                     
                            </div>
                            <a class="btn btn-primary mb-3" href="" role="button">Subscribe</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





