/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* SHADOW EFFECTS */
.navbar {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.card {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

/* Images */
.img-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.GrayBackground {
    background-image: url(download.svg);
    background-size: 100% 100%;
    background-position: top;
}

/* Icons */
.MailBox {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 0.12em;
}

/* Colours */
.card-header {
    background-color: #007bff;
    color: #fff;
}

.Email {
    background-color: #fff;
    border-color: #fff;
    color: #007bff;
}

/* RESPONSIVE */
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem  2rem;
    }
}